#editor_json, #editor_code {
    position: absolute;
    height: 90%;
}

#editor_json {
    top: 0;
    left: 0;
    width: 50%;
    font-size:large;
}

#editor_code {
    top: 0%;
    left: 50%;
    width: 50%;
    font-size:x-large;
}

.action-button {
    position: absolute;
    width: 50%; /* You may need to adjust this value */
    height: 10%;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #444;
}